Repository microsoft/DirectXMath: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMath-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.ps1
  .azuredevops/pipelines/DirectXMath-GitHub.yml: any of: .azuredevops/pipelines/DirectXMath-GitHub.yml

Code review
  .azuredevops/pipelines/DirectXMath-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXMath-GitHub-MinGW.yml
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Cleanup of ADO pipeline YAML files (#249)
  .azuredevops/pipelines/DirectXMath-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXMath-GitHub.yml
  .github/workflows/codeql.yml
  .github/workflows/cxx.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/msbuildex.yml
  .github/workflows/msvc.yml
  .github/workflows/shmath.yml
  .github/workflows/test.yml
  .github/workflows/wsl.yml
  .github/workflows/wslcxx.yml
  .github/workflows/xdsp.yml
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMath-GitHub.yml

GitHub Actions windows-2019 runner is being retired
  .github/workflows/main.yml
  .github/workflows/shmath.yml
  .github/workflows/test.yml
  .github/workflows/xdsp.yml
Due: none

GitHub Actions windows-2019 runner is being retired (#251)
  .github/workflows/main.yml
  .github/workflows/shmath.yml
  .github/workflows/test.yml
  .github/workflows/xdsp.yml
Due: none

Try newer action
  .github/workflows/lint.yml
Due: none

Syntax fix
  .github/workflows/lint.yml
Due: none

Update for YAML fails
  .github/workflows/lint.yml
Due: none

more linter config
  .github/workflows/lint.yml
Due: none

just opt-in
  .github/workflows/lint.yml
Due: none

Picked lint
  Extensions/DirectXMathFMA4.h
  Inc/DirectXCollision.h
  Inc/DirectXCollision.inl
  Inc/DirectXMath.h
  Inc/DirectXMathConvert.inl
  Inc/DirectXPackedVector.h
  Inc/DirectXPackedVector.inl
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Add GitHub Action and .editorconfig code style
  .editorconfig
  .github/workflows/lint.yml
  Extensions/DirectXMathAVX.h
  Extensions/DirectXMathAVX2.h
  Extensions/DirectXMathBE.h
  Extensions/DirectXMathF16C.h
  Extensions/DirectXMathFMA3.h
  Extensions/DirectXMathFMA4.h
  Extensions/DirectXMathSSE3.h
  Extensions/DirectXMathSSE4.h
  Inc/DirectXMath.h
  Inc/DirectXMathConvert.inl
  Inc/DirectXMathMatrix.inl
  Inc/DirectXMathMisc.inl
  Inc/DirectXMathVector.inl
  Inc/DirectXPackedVector.h
  Inc/DirectXPackedVector.inl
  MatrixStack/DirectXMatrixStack.h
  SHMath/DirectXSH.cpp
  SHMath/DirectXSH.h
  SHMath/DirectXSHD3D11.cpp
  SHMath/DirectXSHD3D12.cpp
  Stereo3D/Stereo3DMatrixHelper.h
  XDSP/XDSP.h
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Try older vesrion
  .github/workflows/lint.yml
Due: none

More edits
  .github/workflows/lint.yml
Due: none

Needed linter rule file
  .github/linters/editorconfig-checker.json
  .github/workflows/codeql.yml
  .github/workflows/cxx.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/shmath.yml
  .github/workflows/test.yml
  .github/workflows/xdsp.yml
Due: none

Revert "Try a different GHA"
  .github/workflows/lint.yml
Due: none

Try another version
  .github/workflows/lint.yml
Due: none

Update YAML
  .github/workflows/lint.yml
Due: none

Try again
  .github/workflows/lint.yml
Due: none

try again
  .github/workflows/lint.yml
Due: none

More lint changes
  .github/workflows/lint.yml
  .github/workflows/wsl.yml
  .github/workflows/wslcxx.yml
Due: none

Try a different GHA
  .github/workflows/lint.yml
Due: none

Try earlier version
  .github/workflows/lint.yml
Due: none

More lint
  Inc/DirectXMathMatrix.inl
  Inc/DirectXMathMisc.inl
  Inc/DirectXMathVector.inl
  Inc/DirectXPackedVector.inl
  SHMath/DirectXSH.cpp
  SHMath/DirectXSHD3D11.cpp
  Stereo3D/Stereo3DMatrixHelper.cpp
  Stereo3D/Stereo3DMatrixHelper.h
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Markdown lint
  .github/linters/markdownlint.yml
  .github/workflows/lint.yml
  README.md
  SECURITY.md
Due: none

YAML lint
  .azuredevops/pipelines/DirectXMath-GitHub-CMake-Dev17.yml
  .github/linters/.markdown-lint.yml
  .github/linters/.yaml-lint.yml
  README.md
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

More Markdown lint
  .github/linters/.markdown-lint.yml
  .github/workflows/lint.yml
  CHANGELOG.md
  README.md
Due: none

More lint
  .azuredevops/pipelines/DirectXMath-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXMath-GitHub-WSL-11.yml
  .azuredevops/pipelines/DirectXMath-GitHub-WSL-13.yml
  .azuredevops/pipelines/DirectXMath-GitHub.yml
  .azuredevops/pipelines/DirectXMath-SDL.yml
  .github/dependabot.yml
  .github/linters/.markdown-lint.yml
  .github/linters/.yaml-lint.yml
  .github/workflows/codeql.yml
  .github/workflows/cxx.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/msbuildex.yml
  .github/workflows/msvc.yml
  .github/workflows/shmath.yml
  .github/workflows/test.yml
  .github/workflows/wsl.yml
  .github/workflows/wslcxx.yml
  .github/workflows/xdsp.yml
  CHANGELOG.md
  README.md
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMath-GitHub.yml

Validate fix
  .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub.yml
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMath-GitHub.yml

Yet More YAML lint
  .azuredevops/pipelines/DirectXMath-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXMath-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXMath-GitHub-WSL-11.yml
  .azuredevops/pipelines/DirectXMath-GitHub-WSL-13.yml
  .azuredevops/pipelines/DirectXMath-GitHub.yml
  .azuredevops/policies/approvercountpolicy.yml
  .github/linters/.yaml-lint.yml
  .github/workflows/shmath.yml
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMath-GitHub.yml

Final YAML lint
  .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub-WSL-11.yml
  .azuredevops/pipelines/DirectXMath-GitHub-WSL-13.yml
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Code review
  .github/workflows/lint.yml
Due: none

readme update
  README.md
Due: none

Code review
  README.md
Due: none

Fixed rule file name
  .github/linters/.editorconfig-checker.json
Due: none

yaml lint rule tweak
  .github/linters/.yaml-lint.yml
Due: none

Missed msbuild.yml in #251
  .github/workflows/msbuild.yml
Due: none

Missed msbuildex.yml in #251
  .github/workflows/msbuildex.yml
Due: none

Code reveiw
  .github/workflows/lint.yml
Due: none

line endings for yaml
  .gitattributes
  .github/linters/.yaml-lint.yml
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Fixed typo
  .gitattributes
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml
