Repository microsoft/DirectXMath: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMath-GitHub.yml

.azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml:
  schedules:
  - cron: 0 0 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: BUILD_DEV17
    displayName: Visual Studio 2022 (v143)
    cancelTimeoutInMinutes: 1
    strategy:
      maxParallel: 6
  ...

.azuredevops/pipelines/DirectXMath-GitHub-WSL.yml:
  schedules:
  - cron: 0 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: ubuntu-20.04
  jobs:
  - job: BUILD_WSL
    displayName: Windows Subsystem for Linux (WSL)
    steps:
    - checkout: self
      clean: true
  ...

.azuredevops/pipelines/DirectXMath-GitHub.yml:
  schedules:
  - cron: 0 0 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: BUILD_DEV16
    displayName: Visual Studio 2019 (v142)
    cancelTimeoutInMinutes: 1
    strategy:
      maxParallel: 4
  ...

Added readme update
  README.md
Due: none

SIMD implementation for XMFloatLoad/Store3SE (#308)
  .github/workflows/arm64.yml
  CMakePresets.json
  Inc/DirectXPackedVector.inl
  README.md
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

C++20 operator for XMFLOAT3 was missing
  Inc/DirectXMath.h
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

C++20 operator for XMFLOAT3 was missing (#310)
  Inc/DirectXMath.h
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

May 2026 release
  .nuget/directxmath.nuspec
  CHANGELOG.md
  CMakeLists.txt
  Inc/DirectXMath.h
  README.md
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Update security block
  SECURITY.md
Due: none

Update readme
  README.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

One more copliot memory added
  .github/copilot-instructions.md
Due: none

May 2026 (3.21) release (#311)
  .github/copilot-instructions.md
  .nuget/directxmath.nuspec
  CHANGELOG.md
  CMakeLists.txt
  Inc/DirectXMath.h
  README.md
  SECURITY.md
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Pick markdown lint
  .github/copilot-instructions.md
Due: none

More lint
  .github/copilot-instructions.md
Due: none

Pick markdown lint (#312)
  .github/copilot-instructions.md
Due: none

constexpr matrix comparisons
  Inc/DirectXMath.h
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

constexpr matrix comparisons (#314)
  Inc/DirectXMath.h
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Convert release instructions to CoPilot skill
  .github/copilot-instructions.md
  .github/skills/release/SKILL.md
  .github/workflows/codeql.yml
  .github/workflows/msvc.yml
  .gitignore
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Pick markdown lint
  .github/skills/release/SKILL.md
Due: none

Code review
  .github/skills/release/SKILL.md
  .github/skills/release/assets/vcpkgdxmath.cmd
Due: none

Add usage skill
  .github/skills/directxmath-usage/SKILL.md
  .github/skills/directxmath-usage/reference/overview.md
Due: none

Pick markdown lint
  .github/skills/directxmath-usage/reference/overview.md
Due: none

Move usage skill to public location
  .github/copilot-instructions.md
  README.md
  skills/directxmath-usage/SKILL.md
  skills/directxmath-usage/reference/overview.md
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Update readme
  README.md
  skills/directxmath-usage/SKILL.md
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Update YAML front-matter
  .github/copilot-instructions.md
  skills/directxmath-usage/SKILL.md
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Add CoPilot skills (#316)
  .github/copilot-instructions.md
  .github/skills/release/SKILL.md
  .github/skills/release/assets/vcpkgdxmath.cmd
  .github/workflows/codeql.yml
  .github/workflows/msvc.yml
  .gitignore
  README.md
  skills/directxmath-usage/SKILL.md
  skills/directxmath-usage/reference/overview.md
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

June 2026 (3.21b) hotfix
  .github/skills/release/SKILL.md
  CHANGELOG.md
  README.md
Due: none

June 2026 (3.21b) hotfix (#317)
  .github/skills/release/SKILL.md
  CHANGELOG.md
  README.md
Due: none

Add RISC-V scalar fallback support
  CMakeLists.txt
  Extensions/DirectXMathAVX.h
  Extensions/DirectXMathAVX2.h
  Extensions/DirectXMathF16C.h
  Extensions/DirectXMathFMA3.h
  Extensions/DirectXMathFMA4.h
  Extensions/DirectXMathSSE3.h
  Extensions/DirectXMathSSE4.h
  Inc/DirectXMath.h
  README.md
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

MinGW update and pipeline updates
  .azuredevops/pipelines/DirectXMath-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXMath-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXMath-GitHub-WSL-11.yml
  .azuredevops/pipelines/DirectXMath-GitHub-WSL-13.yml
  .github/workflows/mingw.yml
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

update preset
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Trim more redundant pipelines
  .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub.yml
Due: .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMath-GitHub.yml

Add GitHub Action for MacOS
  .github/workflows/macos.yml
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

MacOS is ARM64 at this point
  .github/workflows/macos.yml
Due: none

Missing size_t
  Inc/DirectXMath.h
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

More readme updates
  README.md
Due: none

Update copilot
  .github/copilot-instructions.md
Due: none

Cover more than one version of mingw
  .github/workflows/mingw.yml
Due: none

Path conditions:
  .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.ps1
  .azuredevops/pipelines/DirectXMath-GitHub.yml: any of: .azuredevops/pipelines/DirectXMath-GitHub.yml
