Repository microsoft/DirectXMath: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMath-GitHub.yml

.azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml:
  schedules:
  - cron: 0 0 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: BUILD_DEV17
    displayName: Visual Studio 2022 (v143)
    cancelTimeoutInMinutes: 1
    strategy:
      maxParallel: 6
  ...

.azuredevops/pipelines/DirectXMath-GitHub-WSL.yml:
  schedules:
  - cron: 0 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: ubuntu-20.04
  jobs:
  - job: BUILD_WSL
    displayName: Windows Subsystem for Linux (WSL)
    steps:
    - checkout: self
      clean: true
  ...

.azuredevops/pipelines/DirectXMath-GitHub.yml:
  schedules:
  - cron: 0 0 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2019
  jobs:
  - job: BUILD_DEV16
    displayName: Visual Studio 2019 (v142)
    cancelTimeoutInMinutes: 1
    strategy:
      maxParallel: 4
  ...

Slim doesn't support powershell lint
  .github/linters/.powershell-psscriptanalyzer.psd1
  .github/workflows/lint.yml
Due: none

Add YML to editorconfig
  .editorconfig
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

GitHub Actions using Windows on ARM64 native
  .github/linters/actionlint.yml
  .github/workflows/arm64.yml
  .github/workflows/arm64test.yml
  .github/workflows/test.yml
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

windows-2019 retired for ADO
  .azuredevops/pipelines/DirectXMath-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub.yml
Due: .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMath-GitHub.yml

Update armt ets
  .github/workflows/arm64test.yml
Due: none

Remove v141 from ADO tests
  .azuredevops/pipelines/DirectXMath-GitHub.yml
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMath-GitHub.yml

Add CoPilot instructions
  .github/copilot-instructions.md
Due: none

GHA and ADO pipeline updates (#257)
  .azuredevops/pipelines/DirectXMath-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub.yml
  .github/copilot-instructions.md
  .github/linters/actionlint.yml
  .github/workflows/arm64.yml
  .github/workflows/arm64test.yml
  .github/workflows/test.yml
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMath-GitHub.yml

CMake updates
  SHMath/CMakeLists.txt
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

CMake updates (#260)
  SHMath/CMakeLists.txt
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Update CoPilot instructions
  .github/copilot-instructions.md
  .gitignore
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

windows-2022 image removed 10.0.22000.0 SDK
  .azuredevops/pipelines/DirectXMath-GitHub-CMake-Dev17.yml
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Update CoPilot instructions and update ADO pipelines (#261)
  .azuredevops/pipelines/DirectXMath-GitHub-CMake-Dev17.yml
  .github/copilot-instructions.md
  .gitignore
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

ARM64 won't build with 19041 SDK
  .azuredevops/pipelines/DirectXMath-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub-CMake.yml
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

ARM64 won't build with 19041 SDK (#265)
  .azuredevops/pipelines/DirectXMath-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub-CMake.yml
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Upgrade to CMake 3.21
  CMakeLists.txt
  CMakePresets.json
  README.md
  SHMath/CMakeLists.txt
  XDSP/CMakeLists.txt
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Upgrade to CMake 3.21 (#266)
  CMakeLists.txt
  CMakePresets.json
  README.md
  SHMath/CMakeLists.txt
  XDSP/CMakeLists.txt
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Add pipline for Address Santizier testing
  .github/workflows/asan.yml
Due: none

Typo fix
  .github/workflows/asan.yml
Due: none

Fixup
  .github/workflows/asan.yml
Due: none

Add pipeline for Address Sanitizer testing (#269)
  .github/workflows/asan.yml
Due: none

Use 8.3.2 instead
  .github/workflows/lint.yml
Due: none

yaml lint
  .github/workflows/lint.yml
Due: none

CMakePresets code review
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

JSON format
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Minor CMake code review (#278)
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Add ADO inventory policy
  .azuredevops/policies/inventory-enablement.yml
  es-metadata.yml
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Add VS 2026 GHAs
  .github/linters/actionlint.yml
  .github/workflows/clangcl.yml
  .github/workflows/main.yml
  .github/workflows/shmath.yml
  .github/workflows/shmathclang.yml
  .github/workflows/test.yml
  .github/workflows/xdsp.yml
  .github/workflows/xdspclang.yml
Due: none

Fix pipeline
  .github/workflows/clangcl.yml
Due: none

Fix lint
  .github/workflows/xdsp.yml
Due: none

Add VS 2026 GHAs (#283)
  .github/linters/actionlint.yml
  .github/workflows/clangcl.yml
  .github/workflows/main.yml
  .github/workflows/shmath.yml
  .github/workflows/shmathclang.yml
  .github/workflows/test.yml
  .github/workflows/xdsp.yml
  .github/workflows/xdspclang.yml
Due: none

Add subscript operators for the XMINT2~4 and XMFLOAT2~4 types
  Inc/DirectXMath.h
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Update CoPilot instructions
  .github/copilot-instructions.md
Due: none

Pick lint
  .github/copilot-instructions.md
Due: none

Update CoPilot instructions (#287)
  .github/copilot-instructions.md
Due: none

Add support for powerpc64le systems
  Inc/DirectXMath.h
  Inc/DirectXMathMisc.inl
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Add support for powerpc64le systems (#288)
  Inc/DirectXMath.h
  Inc/DirectXMathMisc.inl
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Copilot recommends https instead of http
  Extensions/DirectXMathAVX.h
  Extensions/DirectXMathAVX2.h
  Extensions/DirectXMathBE.h
  Extensions/DirectXMathF16C.h
  Extensions/DirectXMathFMA3.h
  Extensions/DirectXMathFMA4.h
  Extensions/DirectXMathSSE3.h
  Extensions/DirectXMathSSE4.h
  Inc/DirectXCollision.h
  Inc/DirectXCollision.inl
  Inc/DirectXColors.h
  Inc/DirectXMath.h
  Inc/DirectXMathConvert.inl
  Inc/DirectXMathMatrix.inl
  Inc/DirectXMathMisc.inl
  Inc/DirectXMathVector.inl
  Inc/DirectXPackedVector.h
  Inc/DirectXPackedVector.inl
  MatrixStack/DirectXMatrixStack.h
  SHMath/DirectXSH.cpp
  SHMath/DirectXSH.h
  SHMath/DirectXSHD3D11.cpp
  SHMath/DirectXSHD3D12.cpp
  XDSP/XDSP.h
Due: .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml

Update copilot instructions
  .github/copilot-instructions.md
Due: none

Path conditions:
  .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXMath-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXMath-GitHub-WSL.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.ps1
  .azuredevops/pipelines/DirectXMath-GitHub.yml: any of: .azuredevops/pipelines/DirectXMath-GitHub.yml
